@CHARSET "UTF-8";
@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.title {font-family: 'GongGothicMedium';}
/*top_banner css*/
.banner {
    color: white;
    background-color:black;
    font-size: 16px;
}
.banner-button {
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    width: 100px;
    border-radius:40px;
    font-size:16px;
    margin-left: 5px;
}

.close {
    position:relative;
    width:80px;
    height:80px;
    color: white;
    float: right;
    bottom: 20px;
}


.close1:after {
    content: "\00d7"; 
    font-size:15pt;
    line-height:50px;
}

/*top_menu css*/
.logo {
    width: 45px;
    height: 45px;
}

a {
    color: black;
}

a:hover { color: #FFA828; }

.item1 {
    font-size: 18px;
    margin-left: 20px;
    margin-right: px;
}

.item2 {
    position: relative;
    font-size: 18px;
    float: right;
}